@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&family=Noto+Serif+JP:wght@300;400;500;700&display=swap');

@layer base {
  body {
    font-family: 'Noto Sans JP', sans-serif;
  }
  
  h1, h2, h3, h4, .serif {
    font-family: 'Noto Serif JP', serif;
  }
}
